@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body
{
    background-color: #2b2b2b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.Calculator
{
position: relative;
min-width: 300px;
min-height: 400px;
padding: 30px;
box-shadow: 30px 30px 60px rgba(0,0,0,0.3),
            10px 10px 50px rgba(0,0,0,0.3),
            inset -5px -5px 15px rgba(0,0,0,0.3),
            inset 5px 5px 15px rgba(0,0,0,0.3);

border-radius: 20px;
display: grid;

}

.Calculator input
{
position: relative;
grid-column: span 4;
height: 80px;
width: calc(100%-25px);
left: 12px;
border: none;
outline: none;
background-color: #a4ac78;
margin-bottom: 15px;
padding: 10px;
font-size: 1.7em;
text-align: right;
border-radius: 10px;
box-shadow: 0 0 0 2px rgba(0,0,0,0.7);


}
.Calculator input::placeholder
{
color: #292929;

}

.Calculator button
{
    position: relative;
    width: 70px;
    height: 70px;
    margin: 7px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background: linear-gradient(180deg,#2e2e2e,#3b3b3b);
    color: #fff;
    box-shadow: inset -7px 0 7px rgba(0,0,0,0.2),
                inset  0  -7px  7px rgba(0,0,0,0.3),
                0 0 0 2px  rgba(0,0,0,0.7),
                10px 20px 30px rgba(0,0,0,0.5);

                cursor: pointer;
                display: grid;
                place-items: center;
    
}
.Calculator button::before
{
content: "";
position: absolute;
top: 3px;
left: 4px;
bottom: 14px; 
right: 12px;
border-radius: 10px;
background: linear-gradient(90deg,#292929,#444) ;
box-shadow:-5px -5px 15px rgba(0,0,0,0.2),
            10px 5px 10px  rgba(0,0,0,0.2);

border-left: 1px solid  rgba(0,0,0,0.3) ;
border-bottom:1px solid  rgba(0,0,0,0.3) ; 
border-top: 1px solid  rgba(0,0,0,0.6);           

}

.Calculator button span
{
    position: relative;
    font-size: 1.7em;

}

.Calculator button:active
{
 filter: brightness(2.0);   
}

.Calculator button.clear,
.Calculator button.delete{
background: #f00;
}

.Calculator button.clear::before,
.Calculator button.delete::before
{
    background: linear-gradient(90deg,#d20000,rgba(255,255,255,0.4));
    border-left:1px solid rgba(255,255,255,0.2) ;
    border-bottom: 1px solid rgba(255,255,255,0.2) ;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.Calculator button.add 
{
    grid-row: span 2;
    height: 160px;
}
.Calculator button.equal
{
    background: #107ad1;
}

.Calculator button.equal::before
{
    background: linear-gradient(90deg,#107ad1,rgba(255,255,255,0.4));
    border-left:1px solid rgba(255,255,255,0.2) ;
    border-bottom: 1px solid rgba(255,255,255,0.2) ;
    border-top: 1px solid rgba(255,255,255,0.2);

}
